# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Ayaf\OneDrive\Documents\Javascript\Fullstack React GraphQL TypeScript Tutorial\backend-lireddit\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
